<div class="container">
  <div class="section-title">
    <h2>Clients</h2>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-6 col-md-3 col-lg-2">
      <div class="client-logo">
        <img
          src="/hakaad-architects/assets/images/clients/client-1.png"
          alt="Client 1"
        />
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <div class="client-logo">
        <img
          src="/hakaad-architects/assets/images/clients/client-2.png"
          alt="Client 2"
        />
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <div class="client-logo">
        <img
          src="/hakaad-architects/assets/images/clients/client-3.png"
          alt="Client 3"
        />
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <div class="client-logo">
        <img
          src="/hakaad-architects/assets/images/clients/client-4.png"
          alt="Client 4"
        />
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <div class="client-logo">
        <img
          src="/hakaad-architects/assets/images/clients/client-5.png"
          alt="Client 5"
        />
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <div class="client-logo">
        <img
          src="/hakaad-architects/assets/images/clients/client-6.png"
          alt="Client 6"
        />
      </div>
    </div>
  </div>
</div>
