<nav class="navbar navbar-expand-lg">
  <div class="container-fluid px-5">
    <!-- Logo left -->
    <a class="navbar-brand" href="/hakaad-architects/index.html">
      <img
        src="/hakaad-architects/assets/images/logo.png"
        alt="Haakad Architects"
      />
    </a>

    <!-- Mobile toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links right -->
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/hakaad-architects/office.html">Office</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hakaad-architects/work.html">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hakaad-architects/reach-us.html"
            >Reach Us</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hakaad-architects/faq.html">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
